.Rproj.user
.Rhistory
.RData
.Rhistory
.Ruserdata
/data/answers/*
/docs/data/answers/*
/data/students/2018-2019 Data analysis for linguists_ collect githubs (Odpowiedzi) - Liczba odpowiedzi_ 1.csv
/docs/data/students/2018-2019 Data analysis for linguists_ collect githubs (Odpowiedzi) - Liczba odpowiedzi_ 1.csv